.danger {
  background-color: #E27874; }

.warning {
  background-color: #f0ad4e; }

.success {
  background-color: #5cb85c; }

.notapplicable {
  background-color: #B7B7B7; }

.notstarted {
  background-color: #E27874; }

.inprogress {
  background-color: #f0ad4e; }

.complete {
  background-color: #5cb85c; }

#main-content.goal-indicators .indicator-cards a {
  padding: 0;
  margin-bottom: 1.5rem; }

#main-content.goal-indicators .indicator-cards.target {
  margin-bottom: 1.5rem;
  clear: left;
  font-weight: bold; }
