.danger {
  background-color: #E27874; }

.warning {
  background-color: #f0ad4e; }

.success {
  background-color: #5cb85c; }

.notapplicable {
  background-color: #B7B7B7; }

.notstarted {
  background-color: #E27874; }

.inprogress {
  background-color: #f0ad4e; }

.complete {
  background-color: #5cb85c; }

#main-content.goal-indicators .indicator-cards a {
  padding: 0;
  margin-bottom: 1.5rem; }

#main-content.goal-indicators .indicator-cards.target {
  margin-bottom: 1.5rem;
  clear: left;
  font-weight: bold; }
  #main-content.goal-indicators .indicator-cards.target span {
    font-size: larger; }
    @media screen and (min-width: 992px) {
      #main-content.goal-indicators .indicator-cards.target span {
        font-size: inherit; } }

#main-content .tab-content img {
  max-height: 130px;
  width: auto; }

header {
  background: #fff;
  border-bottom: #eaeaea 5px solid; }

.navbar #search input {
  width: 160px; }

@media only screen and (max-width: 768px) {
  .navbar .top-level li button {
    color: #E5E6E7;
    display: block;
    padding: 15px;
    border: 0;
    text-transform: uppercase;
    background-color: inherit;
    text-align: left;
    width: 100%; } }
#mapHead {
  display: block;
  font-size: 1.0em;
  margin-top: 1.0em;
  margin-bottom: 1.0em;
  padding-left: 10px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; }

#legend {
  padding-left: 0;
  text-align: center;
  margin-top: -32px; }
  #legend li {
    font-size: 13px;
    list-style-type: none;
    display: inline-block;
    color: #666;
    line-height: 18px;
    cursor: pointer;
    padding: 5px; }
    #legend li:hover {
      background: #eee; }
    #legend li.notshown {
      text-decoration: line-through; }
  #legend .swatchTsr {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 3px;
    border-radius: 7.5px; }
    #legend .swatchTsr.dashed {
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAYAAADn9T9+AAAAFklEQVQImWP8////fwY0wMjIyIguBgCaAgQCms5tJwAAAABJRU5ErkJggg==");
      background-repeat: repeat;
      background-position: -5px 0; }
  #legend .swatchTgt {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 3px; }
  #legend span {
    vertical-align: middle;
    line-height: 18px; }
  #legend:after {
    content: "";
    display: table;
    clear: both; }

.header_img {
  display: block;
  float: right;
  width: 30px;
  padding-right: 8px;
  padding-top: 12px; }
  .header_img img {
    width: 100%; }

#disclaimer {
  background: #BF0C16; }
  #disclaimer .phase-tag {
    background: #005ea5;
    color: white;
    text-transform: uppercase;
    padding: 2px 5px 0; }
  #disclaimer .alert {
    color: white;
    margin-bottom: 0;
    padding: 10px; }
    #disclaimer .alert a {
      color: white; }
  #disclaimer .alert-danger {
    border: none;
    margin-bottom: 0;
    background: #BF0C16; }
    #disclaimer .alert-danger a {
      text-decoration: underline; }
    @media only screen and (max-width: 680px) {
      #disclaimer .alert-danger {
        font-size: 0.75em; } }
